* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; /* Ocupa toda la altura de la ventana */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    margin: 0; /* Elimina cualquier margen */
    background-image: url("https://i.pinimg.com/236x/fa/68/e6/fa68e6f30bc736cd0d73ea6b2cc31bd8.jpg");
    background-size: 100% auto; /* Ajusta la imagen para que ocupe el 100% del ancho sin deformarse */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    background-color: #000; /* Fondo negro si la imagen no carga */
}

/* Estilo del contenedor del logo */
.logo-container {
    display: flex;
    /* Usa flexbox para alinear elementos */
    align-items: center;
    /* Centra verticalmente el logo */
    justify-content: center;
    /* Centra horizontalmente el logo */
    height: 60px;
    /* Ajusta la altura del contenedor */
}

/* Estilo de la imagen del logo */
.logo {
    height: 100%;
    /* El logo ocupará el 100% de la altura del contenedor */
    width: auto;
    /* Mantiene la proporción del logo */
    max-height: 50px;
    /* Altura máxima para mantener un tamaño adecuado */
    transition: transform 0.3s;
    /* Suaviza el cambio en transformaciones */
}

/* Efecto al pasar el mouse sobre el logo */
.logo:hover {
    transform: scale(1.05);
    /* Agranda ligeramente el logo al pasar el mouse */
}

.ruleta-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.ruleta {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.8s ease-out;
    background-image: url("https://i.pinimg.com/236x/c0/8a/5a/c08a5a0f58617e1defc4eb9e59c8772e.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.letra {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    transform-origin: center;
    transform: rotate(0deg);
    color: #ffffff;
    transition: color 0.3s ease;
}

.ruleta .letra:nth-child(1) {
    transform: rotate(0deg) translate(130px);
}

.ruleta .letra:nth-child(2) {
    transform: rotate(13.84deg) translate(130px);
}

.ruleta .letra:nth-child(3) {
    transform: rotate(27.69deg) translate(130px);
}

.ruleta .letra:nth-child(4) {
    transform: rotate(41.53deg) translate(130px);
}

.ruleta .letra:nth-child(5) {
    transform: rotate(55.38deg) translate(130px);
}

.ruleta .letra:nth-child(6) {
    transform: rotate(69.23deg) translate(130px);
}

.ruleta .letra:nth-child(7) {
    transform: rotate(83.07deg) translate(130px);
}

.ruleta .letra:nth-child(8) {
    transform: rotate(96.92deg) translate(130px);
}

.ruleta .letra:nth-child(9) {
    transform: rotate(110.76deg) translate(130px);
}

.ruleta .letra:nth-child(10) {
    transform: rotate(124.61deg) translate(130px);
}

.ruleta .letra:nth-child(11) {
    transform: rotate(138.46deg) translate(130px);
}

.ruleta .letra:nth-child(12) {
    transform: rotate(152.30deg) translate(130px);
}

.ruleta .letra:nth-child(13) {
    transform: rotate(166.15deg) translate(130px);
}

.ruleta .letra:nth-child(14) {
    transform: rotate(180deg) translate(130px);
}

.ruleta .letra:nth-child(15) {
    transform: rotate(193.84deg) translate(130px);
}

.ruleta .letra:nth-child(16) {
    transform: rotate(207.69deg) translate(130px);
}

.ruleta .letra:nth-child(17) {
    transform: rotate(221.53deg) translate(130px);
}

.ruleta .letra:nth-child(18) {
    transform: rotate(235.38deg) translate(130px);
}

.ruleta .letra:nth-child(19) {
    transform: rotate(249.23deg) translate(130px);
}

.ruleta .letra:nth-child(20) {
    transform: rotate(263.07deg) translate(130px);
}

.ruleta .letra:nth-child(21) {
    transform: rotate(276.92deg) translate(130px);
}

.ruleta .letra:nth-child(22) {
    transform: rotate(290.76deg) translate(130px);
}

.ruleta .letra:nth-child(23) {
    transform: rotate(304.61deg) translate(130px);
}

.ruleta .letra:nth-child(24) {
    transform: rotate(318.46deg) translate(130px);
}

.ruleta .letra:nth-child(25) {
    transform: rotate(332.30deg) translate(130px);
}

.ruleta .letra:nth-child(26) {
    transform: rotate(346.15deg) translate(130px);
}

.flecha {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(255, 0, 0);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4c00ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: #4c00ff;
}

.letra.selected {
    color: rgb(255, 0, 0);
}

.letra-seleccionada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.card-container {
    display: flex;
    justify-content: space-around;
    /* Espacio entre tarjetas */
    margin-top: 20px;
    /* Margen superior para separar de otros elementos */
}

.card {
    background-image: url("https://i.pinimg.com/enabled_lo/236x/2b/fa/62/2bfa629510f808aa09e87f0648da08d9.jpg");
    border: 1px solid #ddd;
    /* Borde de la tarjeta */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    padding: 20px;
    /* Espaciado interno */
    text-align: center;
    /* Centra el texto */
    width: 150px;
    /* Ancho fijo para las tarjetas */
    height: 100px;
    margin: 10px;
}

.card h3 {
    margin-bottom: 10px;
    /* Espaciado inferior del título */
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.card p {
    font-size: 18px;
    /* Tamaño del texto del párrafo */
    font-weight: bold;
    /* Negrita para el texto */
    color: rgb(0, 0, 0);
}

.timer-container {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

#timer {
    font-weight: bold;    
    border: solid 2px rgb(255, 255, 255);
    border-radius: 8px;
    margin-top: -20px;
}

p {
    color: white;
    margin-top: 10px;
}

.timer-red {
    color: red;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#arlequin-img-idioma, #arlequin-img-sexo {
    width: auto;
    height: auto;
    margin-top: -45px;
    margin-left: 5px;
}

.youtube-search {
    margin-top: 5px;
    text-align: center;
}

#youtube-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#youtube-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#youtube-button:hover {
    background-color: #cc0000;
}


/* Media Queries para adaptación */
@media (max-width: 768px) {
    .ruleta-container {
        width: 250px;
        height: 250px;
    }

    .letra-seleccionada {
        font-size: 36px;
    }

    .card {
        width: 120px;
        height: 80px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    body {
        flex-direction: column;
        /* Asegura que los elementos se apilen verticalmente */
        padding: 10px;
        /* Agrega un poco de espaciado */
    }

    .logo-container {
        height: 50px;
        /* Reduce la altura del contenedor del logo */
    }

    .logo {
        max-height: 40px;
        /* Altura máxima del logo en móviles */
    }

    .ruleta-container {
        width: 200px;
        height: 200px;
    }

    .letra-seleccionada {
        font-size: 30px;
    }

    .card {
        width: 100px;
        height: 60px;
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        flex-direction: column;
        padding: 20px;
        background-size: 100% 100%; /* Ajusta la imagen para cubrir el fondo en pantallas más pequeñas */
    }

    .logo-container {
        height: 50px; /* Ajusta la altura del contenedor en pantallas pequeñas */
    }

    .logo {
        max-height: 40px; /* Reduce el tamaño del logo */
    }

    .ruleta-container {
        width: 300px; /* Reduce el tamaño de la ruleta */
        height: 300px;
        margin-top: 10px;
    }

    .ruleta .letra {
        font-size: 16px; /* Reduce el tamaño de las letras en la ruleta */
    }

    .flecha {
        top: 30px; /* Ajusta la posición de la flecha */
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid rgb(255, 0, 0);
    }

    button {
        padding: 8px 16px;
        font-size: 14px; /* Reduce el tamaño del botón */
        margin-top: 15px;
    }

    .card-container {
        flex-direction: row; /* Cambia el diseño a columna para que las tarjetas se apilen */
        align-items: center;
    }

    .card {
        width: 100px; /* Reduce el ancho de las tarjetas */
        height: 80px; /* Reduce la altura de las tarjetas */
        padding: 10px; /* Reduce el padding */
    }

    .card h3 {
        font-size: 15px; /* Reduce el tamaño del texto del título */
        color: white;
    }

    .card p {
        font-size: 18px; /* Reduce el tamaño del texto del párrafo */
        color: white;
    }

    p {
        color: rgb(255, 255, 255);
    }

    #timer {
        font-weight: bold;    
        border: solid 2px rgb(255, 255, 255);
        border-radius: 8px;
        margin-top: -20px;
    }
}
